[submodule "lib/ethereum-vault-connector"]
	path = lib/ethereum-vault-connector
	url = https://github.com/euler-xyz/ethereum-vault-connector
[submodule "foundry/lib/ethereum-vault-connector"]
	path = foundry/lib/ethereum-vault-connector
	url = https://github.com/euler-xyz/ethereum-vault-connector
[submodule "foundry/lib/openzeppelin-contracts-upgradeable"]
	path = foundry/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "foundry/lib/devtools"]
	path = foundry/lib/devtools
	url = https://github.com/LayerZero-Labs/devtools
[submodule "foundry/lib/pendle-core-v2-public"]
	path = foundry/lib/pendle-core-v2-public
	url = https://github.com/pendle-finance/pendle-core-v2-public
[submodule "foundry/lib/chainlink-brownie-contracts"]
	path = foundry/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
